<!DOCTYPE html>
<html>
<head>
  <title>H2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr>

<!--
<ul>
<li><a href="/">home</a></li>
<li><a href="form">form</a></li>
<li><a href="about">about</a></li>
</ul>
<hr>
-->

<!-- include a partial app/views/shared/_navbar.html -->
<%= render 'shared/navbar' %>

<%= yield %>

</body>
</html>
